@model IEnumerable<CitaMedica>
@using WebClinica.Models.ViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Content.cshtml";
    String nombreCitas = ViewBag.Citas;
}

<head>
    <title>Consulta Citas</title>
</head>
<partial name="_Menu" />
<div class="container">
    <!--Cambio aca-->
    <main class="pb-3" role="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-12">
                    <h2 class="text-light">Consulta citas</h2>
                </div>
            </div>
            <form asp-controller="ConsultaCitas" asp-action="Index" method="post" id="frmFilter">
                <div class="row contenedorBotonesPrincipalesIndex">
                    <div class="col-md-2 col-lg-2">
                        <label>Buscar cita:</label>
                    </div>
                    <br />
                    <div class="col-md-2 col-lg-2 text-align-center">
                        <input type="text" class="form-control" name="nombre" id="nombre" value="" style="width: 100%;height:100%;" />
                    </div>
                    <br />
                    <div class="col-md-2 col-lg-1 text-align-center">
                        <input type="button" value="Buscar" class="btn btn-success" onclick="Buscar()" />
                    </div>
                    <br />
                    <div class="col-md-2 col-lg-1 text-align-center">
                        <input type="button" value="Resetear" class="btn btn-danger" onclick="Resetear()" />
                    </div>
                    <br />
                    <div class="col-md-2 col-lg-2 text-right">
                        <input type="button" value="Generar PDF" class="btn btn-primary" onclick="ExportarPDF()" />
                    </div>
                    <br />
                    <div class="col-md-2 col-lg-2">
                        <input type="button" value="Generar Excel" class="btn btn-primary" onclick="ExportarExcel()" />
                    </div>
                    <br />
                    <div class="col-md-2 col-lg-2 text-right">
                        <partial name="_BackHome" />
                    </div>
                    <br />
                </div>
                <div class="col-md-12" style="color:black;"><hr></div>
            </form>
            @if (Model.Count() > 0)
            {
                <div class="contenedorTablas">
                    <table class="table table-hover border .table-responsive" id="TbEspecial">
                        <thead class="thead-dark">
                            <tr class="table-secondary trs">

                                <th>
                                    @Html.DisplayNameFor(model => model.NombrePaciente)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NombreMedico)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NombreEspecialidad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaCita)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Diagnostico)
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombrePaciente)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreMedico)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreEspecialidad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaCita, "{0:dd/MM/yyyy}")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Diagnostico)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <h2 class="textoInformativo">No hay medicos en la lista.</h2>
            }
        </div>
        <form asp-action="exportarPDF" target="_blank" asp-controller="ConsultaCitas"
              method="post" id="viewExportarPDF">
            @*solo sirve para ejecutar el actionresult*@
        </form>
        <form asp-action="exportarExcel" asp-controller="ConsultaCitas"
              method="post" id="viewExportarExcel">
            @*solo sirve para ejecutar el actionresult*@
        </form>
    </main>
</div>
<partial name="_EndPag" />







