@model WebClinica.Models.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Content.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoUsuario.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UsuarioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
